@page "/"
@inject DialogService DialogService

@attribute [TabItemOption(Text = "Index", Closable = false)]

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?"/>

<ValidateForm Model="Foo">
    <Checkbox @bind-Value="@Foo.Complete" ShowAfterLabel="true" ShowLabel="false"></Checkbox>
</ValidateForm>

@code {
    public Foo Foo { get; set; } = new Foo();
}